/*selector{
property:value;
}*/

p {
    color: blue;
}


h1 {
    background-color: black;
}

#text {
    color: blue;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 10px;
    text-decoration: underline;
}

.link {
    color: blue;
    text-decoration: none;
}

* {
    background-color: rgb(255, 196, 206);
}
h1,p,a{
    color: darkblue;
}

}